.idea/
.run/
build/
bin/
obj/
.vs/
/packages/
riderModule.iml
/_ReSharper.Caches/
EasySave-CLEA.sln.*
CLEA-Encryptor/CLEA-Encryptor.csproj.user
CLEA-Encryptor/Properties/PublishProfiles/FolderProfile.pubxml
CLEA-Encryptor/Properties/PublishProfiles/FolderProfile.pubxml.user
